{% extends "base.html" %}

{% block page_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="ui container containerSizeNarrow">
    <div class="headTitle"><h1>{% trans "Change Password" %}</h1></div>
    <div class="ui segment segmentSize">
      <form class="ui form">
        <div class="field">
            <h4 class='formTitleSentence'>
                {% trans 'Your password is now changed.' %}<br />
            </h4>
        </div>
        <div class="submitButton">
            <button class="ui orange button" type="submit">
              {% trans "Back to Top page."%}
            </button>
        </div>
      </form>
    </div>
</div>

{% endblock %}