{% extends "base.html" %}

{% block page_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="ui container containerSizeNarrow">
    <div class="headTitle"><h1>{% trans "Change Password" %}</h1></div>
    <div class="ui segment segmentSize">
        <form class="ui form" method="post" action="{{ action_url }}">
            {% csrf_token %}
            <div class="field">
                <label class="formTitle">{% trans "New Password"%}</label>
                <input type="password" name="password" placeholder="Password" autofocus />
            </div>
            <div class="field">
                <label class="formTitle">{% blocktrans %} Please enter your password again. {% endblocktrans %}</label>
                <input type="password" name="password" placeholder="Password" />
            </div>
            <div class="submitButton">
                <button class="ui orange button" type="submit">{% trans "Change Password" %}</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}