{% extends "base.html" %}

{% block page_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
<div class="ui container containerSizeNarrow">
    <div class="headTitle"><h1>{% trans "Password Reset" %}</h1></div>
    <div class="ui segment segmentSize">
        <form class="ui form" method="post" action="{% url 'account_reset_password' %}">
            {% csrf_token %}
            <div class="field">
                <label class="formTitle">{% trans "Email" %}</label>
                <input type="email" name="email" placeholder="Email" autofocus />
            </div>
            
            <div class="submitButton">
                <button class="ui orange button" type="submit">{% trans "Send"%}</button>
            </div>

        </form>
    </div>
</div>

{% endblock %}