{% extends "base.html" %}

{% load i18n %}
{% block page_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<div class="ui container containerSizeNarrow">
    <!-- {% load i18n %} -->
    <div class="headTitle"><h1>{% trans "Sign In" %}</h1></div>

  <div class="ui segment segmentSize">

    <form class="ui form" method="post" action ="{% url 'account_login' %}">
       {% csrf_token %}
      <div class="field">
        {{ form }}
      </div>
      <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
      <div class="submitButton">
        <button class="ui orange button" type="submit">
            {% trans "Sign In" %}
        </button>
      </div>
    </form>
  </div>
</div>
{% endblock %}
