{% extends "base.html" %}
{% load i18n %}
{% block page_title %}{% trans "Signup" %}{% endblock %}



{% block content %}
<div class="ui container containerSizeNarrow">
<!-- {% load i18n %} -->
  <div class="headTitle"><h1>{% trans "Signup" %}</h1></div>

  <div class="ui segment segmentSize">
    <form class="ui form" method="post" action="{% url 'account_signup' %}">
      {% csrf_token %}
      <div class="field">
        {{ form }}
      </div>

      <div class="submitButton ">
        <button class="ui orange button " type="submit">
          {% trans "Signup" %}
        </button>
      </div>

    </form>
  </div>

</div>
{% endblock %}
