{% extends "base.html" %}

{% load i18n %}
{% block page_title %}{% trans "Diagnosis" %}{% endblock %}


{% block content %}
<div class="ui container containerSizeWide">
{% load i18n %}
  <div class="headTitle"><h1>{% trans "Question" %}</h1></div>
  <div class="ui segment p80">
    <form class="ui form">
      <div class="field">
        <p>
            テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
        </p>
      </div>
    </form>
  </div>
  <div class="items">
    <button class="ui orange inverted button item">はい</button>
    <button class="ui orange inverted button item">どちらでもない</button>
    <button class="ui orange inverted button item">いいえ</button>
  </div>
</div>

{% endblock %}
