{% extends "base.html" %}

{% load i18n %}
{% block page_title %}{% trans "Diagnosis" %}{% endblock %}


{% block content %}
<div class="ui container containerSizeWide">
{% load i18n %}
  <div class="headTitle"><h1>{% trans "Question" %}</h1></div>
  <div id="progressBar" class="center"></div>
  <div class="ui segment p80">
    <form class="ui form">
      <div class="field">
        <p>
            テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
        </p>
      </div>
    </form>
  </div>
  <div class="items center">
    <button id='answerIsYes' class="ui orange inverted button item answer">はい</button>
    <button id='answerIsNeither' class="ui orange inverted button item answer">どちらでもない</button>
    <button id='answerIsNo' class="ui orange inverted button item answer">いいえ</button>
  </div>
</div>

{% endblock %}
